name: Deploy to Production

on:
  push:
    tags:
      - 'v*.*.*'  # Триггер на теги вида v1.0.0, v2.1.3 и т.д.

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT || 22 }}
        script: |
          cd ~/summary_bot
          git fetch --tags
          git checkout ${{ github.ref_name }}
          git pull origin main
          ./deploy.sh
